本項目隸屬於TRANS UNION團隊，擁有其所有知識產權<br>
本網站建站於2026（115）年2月21日，由HosinoNeko站長在逃到上海不久后建立，而規劃和設想早在站長在扭轉機構裏想出來的。<br>
在這裏衷心感謝以下項目和企業，沒有他們就沒有這個網站的誕生：
<li><a href="https://leafletjs.com/">LEAFLETJS</a></li>
<li>Google LLC.</li>
<li>github</li>
<li>Vercel</li>
<li>NodeJS</li>