<div style="display: flex;    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;">
    <div class="div"><strong>數據最後一次更新：</strong><br><span id="LastSynced">LOADING...</span></div>
    <div class="div"><strong>已提交表單：</strong> <span id="total-count">LOADING...</span></div>
    <div class="div"><strong>省份分佈：</strong><br><span id="province-dist">LOADING...</span></div>
    <div class="div"><strong>省份分佈：</strong><br><span id="avgAge">LOADING...</span></div>
</div>