<%- include('partials/head') %>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>
    <h1>机构综合地图</h1>
    <%- include('partials/map_allnum') %>
    <div id="map" class="div"></div>
    <p><a href="/">返回首页</a></p>
    <%- include('partials/map_apimd') %>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="/js/map_api.js"></script>
</body>
</html>